<html>
  <head> </head>
  <body>
    <b>"Genesys"</b>, a blank Shopify Theme that serves as the perfect foundation for your next e-commerce project to
    inspire creativity. Genesys provides a blank slate for developers to build and design their dream e-commerce website
    from scratch. The only limit is your imagination!
  </body>
</html>
